body{
    padding:0;
    margin:0;
    background-color:#a9a9a9;
}

#content{
    width:80%;
    margin-left:10%;
    margin-top:40px;
    background-color:white;/*#fafafa;*/
    border:none;
/*    border: 0px solid #fff;*/
}

#searchContainer{
    width:80%;
    margin-left:10%;
    margin-top:40px;
    margin-bottom:15px;
    background-color:white;
    padding-bottom:15px;
    padding-top:15px;
    
}

#feats{
/*    border-spacing:0px;*/
/*    border-top: 1px solid #000000;*/
/*    margin:0;*/
/*    vertical-align: top;*/
    border-collapse: collapse;
    width: 100%;
    font-family: 'Arial', serif;
    font-weight: 100;
}



.prerequisitesRow{
    /*width:15%;*/
}

.descriptionRow{
    width:80%;
}

.sourceRow{
    width:5%;
}

.nameRow{
    width:20%;
}

.nameRow h3{
    padding:0px;
    margin: inherit;
    font-weight:600;
    color:#393959;
}

#feats tr{
    vertical-align: top;
    border-top: 1px solid #ddd;
    background-color:white;
/*    border-bottom: 2px solid #000000;*/
}

#feats tr:nth-child(even) {
    background-color:#f2f2f2;
}

#feats td, th{
    padding: 12px;
}

#feats td td, th{
    padding:0px;
    padding-top:3px;
    
}

#feats p, ul{
    margin:8px;
}

#feats td table{
    padding-bottom:5px;
}
