:root{
    --tile-width: 300;
}

body{
    margin:0px;
    background-color:cornsilk
}

p{
    margin:0;
    padding:0;
}
#top{
    height:50px;
    width:100%;
    background-color:black;
    margin-bottom:10px;
    top:0;
    position: fixed;
}

#menu{
    display:none;
    background-color: white;
    width:300px;
    height:450px;
    position:fixed;
    top:0;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid black;
}

#menuButtonStyle{
    height:42px;
    width:42px;
    background-color: gray;
    position:fixed;
    top:4px;
    left:4px;
    border-radius:2px;

}

#searchContainer{
    position:fixed;
    left:55px;
    line-height: 50px;
}

#searchBar{
    position: fixed;
    left:55px;
    top:10px;
    height:30px;
    width:500px;
    border:none;
    padding:0;
    margin:0;
    padding-left:3px;
    font-size:20px;
}

#clearTags{
    color:white;
    background-color:darkslategrey;
    position: fixed;
    left:580px;
    height:30px;
    line-height: 30px;
    width:110px;
    font-family: sans-serif;
    border-radius:2px;
    padding-left:5px;
    margin-top:8px;
/*    box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    -webkit-box-sizing: border-box;*/
    border: 2px solid white;
    cursor: pointer;
    display: none;
}

.menuSandwitchBars{
    margin-left:4px;
    margin-top:7px;
    background-color:white;
    height:5px;
    width:34px;
    border-radius:2px;
}

#clickOff{
    display:none;
    height:100%;
    width:100%;
    position:fixed;
/*    background-color:orange;*/
    top:0;
}

#ScrollToTop{
    position:fixed;
    bottom:-150px;
/*    Right:10px;*/
    background-color:rgba(1,1,1,0.75);
    width:100px;
    height:200px;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    text-align: center;
    padding-top:3px;
    font-size:20px;
    color:white;
    border-radius:50px;
    cursor: pointer;
    transition: bottom 100;
    display: none;
}

#ScrollToTop:hover{
/*    color:blue;*/
    transition: bottom 100;
    bottom:-130px;
}

.horizontalLine{
    width:80%;
    margin-left:10%;
    margin-top:10px;
    margin-bottom:10px;
    height:2px;
    background-color:black;
}

#SortMenu label{
    width:30%;
    font-size:20px;

}
#SortMenu select{
    width:70%;
    font-size:15px;

}

.optionHolder{
    width:100%;
    height:24px;
/*    background-color: orange;*/
    
}

.optionHolder p{
    float:left;
    margin-left:25px;
    font-size:20px;
    line-height: 24px;
}

.testCheck{
    position:absolute;
    height:20px;
    width:20px;
    margin:2px;
    padding:0;
/*    background-color:blue;*/
    float:left;
}

#content{
    
    width:1320px;
/*    background-color:green;*/
    margin:auto;
    margin-top:100px;
    display:flex;
    flex-flow:row wrap;
}

.content-box{
    width: 330px;
    height:515px;
    background-color:none;
    float:left;
    padding:15px;
    box-sizing: border-box;

    
}

@media only screen and (max-width: 1320px) {
    #content{
        width:990px;
    }
    body{
/*        background-color: aqua;*/
    }
}

@media only screen and (max-width: 990px) {
    #content{
        width:660px;
    }
    body{
/*        background-color: yellow;*/
    }
}

@media only screen and (max-width: 660px) {
    #content{
        width:330px;
    }
    body{
/*        background-color: orange;*/
    }
}

.bottom-box, .picture-box{
    
}

.content-box-inside{
/*    background-color:orange;*/
    width:100%;
    height:100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid black;
}


.content-box-inside p{
    margin:0;
    padding:0;
}

.name-box{
    height:46px;
    line-height: 46px;
    padding:2px;
    font-family:fantasy;
    font-size: 20px;
    text-align: center;
    align-items: center;
    background-color:#2b2b2b;
    border-bottom:0px;
    color:white;
    box-sizing: border-box;

}

.info-box-left, .info-box-right{
    height:40px;
    background-color:#b6b6b6;
    width:148px;
    box-sizing: border-box;
    float:left;
    padding: 5px;
    font-family:monospace;
    font-size:15px;
}

.picture-box{
    height:350px;
    width:296px;
    background-color:white;
    float:left;
    display:flex;
    align-items: center;
/*    background-color:purple;*/
    justify-content: center;
}

.picture-box-inner{
/*
    height:350px;
    width:296px;
*/
}

.picture-link{
/*
    height:0px;
    width:0px;
*/
    
}

.picture-box img{
    display:flex;
}

.wideImg{
    max-width:296px;
}

.tallImg{
    max-height:350px;
}

.bottom-box{
    height:36px;
    width:286px;
    background-color:#b6b6b6;
    vertical-align: middle;
    float:left;
    padding:5px;
    text-align: center;
    font-size: 12px;
    line-height: 36px;
    
}

.bottom-box img{
    height:80%;
    vertical-align: middle;
}

.bottom-box div{
    float: right;
}


