body{
    padding:0;
    margin:0;
}

#top{
    width:100%;
    background-color:black;
    height:50px;  
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

#searchStyle{
    width:50%;
    height:40px;
    margin: 0;
    margin-left:25%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


#searchBar{
    height:40px;
    width:700px;
    padding:0;
    margin:0;
    
/*
    margin-left: auto;
    margin-right: auto;
*/
    padding: 12px 20px;
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
/*
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
*/
}

#allContent{
/*
    display:block;
    justify-content: center;
    align-items: center;
*/
    width:80%;
    margin-left:10%;
/*    background-color:blueviolet;*/
    height:900px;
}

#content{
    display:block;
    width:100%;
    
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    padding-left:auto;*/
/*    margin:0 auto;*/
    height:80px;
/*    background-color:orange;*/

/*    margin-left:20%;*/
/*    padding:1%;*/
}

.linkBoxHolder{
    float:left;
    display:block;
    width:20%;
    justify-content: center;
    align-items: center;
    
}


.linkBox{
/*    display:block;*/
    width:100px;
    height:100px;
    background-color:white;
    margin:auto;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 50%;    
    overflow:hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.centerImgWrapper {
     width: 100%;
     height: 100%;
     position: relative;
     overflow: hidden;
}

.icon {
     left: 0;
     right:0;
     top: 0;
     bottom:0;
     max-height: 100%;
     max-width: 100%;
     margin:auto;
     position:absolute;
}

#textLinks{
    width:100%;
    float:left;
    border-top: 1px solid #d7d7d7;
    margin-top:1.25%;
    padding-top:1.25%;
/*    margin-top:80px;*/
/*    display:block;*/
/*    justify-content: center;*/
/*    align-items: center;*/
}


.textBoxSizer{
    width:25%;
    float:left;
/*    background-color:pink;*/
    display:block;
    justify-content: center;
    align-items: center;
}

.textBox{
    width:95%;
    margin:0 auto;
    margin-bottom:5%;
    padding-bottom:2.5%;
    background-color:#f3f3f3;
    border-radius:6px;
    border-style:solid;
    border-width:1px;
    border-color:#d7d7d7;
/*    background: linear-gradient(0deg, rgba(243,243,243,1) 100%, rgba(222,222,222,1) 0%);*/
    
}

.textBox a{
    margin-top:5px;
    margin-left:15px;
    line-height: 1.8;
    text-decoration: none;
    color:#07d;
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

h2{
    margin-top:5px;
    margin-left:15px;
    margin-bottom:5px;
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 350;
    font-size:16px;
    color:#2c2c2c;
}

@media only screen and (max-width: 1100px) {
    .textBoxSizer{
        width:50%;
    }
    .linkBoxHolder{
        width:20%;
    }
}

